.leaderboard-container {
  max-width: 700px;
  margin: 0 auto;
}

.table-score {
  font-family: monospace;
}

.no-underline {
  text-decoration: none;
}

.markdown img {
  max-width: 100%;
}
.markdown h2:not(:first-child) {
  margin-top: 0.6em;
}

.v-move {
  transition: transform 1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.v-enter-active,
.v-leave-active {
  transition: all 1s;
}

.v-data-table__wrapper {
  overflow-x: hidden !important;
}

/*# sourceMappingURL=app.css.map*/