.v-main__wrap {
  background-color: transparent;
}

.theme--light.v-application {
  background-color: transparent !important;
}

.theme--light.v-data-table, .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: transparent !important;
  color: white !important;
  text-transform: uppercase;
  font-family: monospace;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: #bbb !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 2rem !important;
}

td {
  border-top: 3px dashed #bbb;
}

* {
  font-family: monospace;
}

/*# sourceMappingURL=ascii.css.map*/