<template>
    <apexchart type="line" height="100%" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import apexchart from 'vue-apexcharts'

    export default {
        props: [
            "entries",
            "leaderboard",
        ],

        components: {
            apexchart
        },

        computed: {
            series() {
                var output = []
                var that = this

                function findSeries(output, entry) {
                    for (var series of output) {
                        if (series.name == entry.name) {
                            return series;
                        }
                    }

                    // start with an entry on 0 (left edge)
                    output.push({
                        name: entry.name,
                        data: [{
                            x: that.openAt,
                            y: 0,
                        }],
                    })

                    return output[output.length-1]
                }

                // add entries to series
                for (var entry of this.entries) {
                    var series = findSeries(output, entry)

                    series.data.push({
                        x: new Date(entry.created_at).getTime(),
                        y: entry.score
                    })
                }

                for (var series of output) {
                    // sort the series by date
                    series.data = series.data.sort((a, b) => a.x - b.x)

                    // add current time (right edge)
                    series.data.push({
                        y: series.data[series.data.length-1].y,
                        x: Math.min(this.closedAt, this.currentTime),
                    })
                }

                // sort all output by name
                output.sort((a, b) => a.name.localeCompare(b.name))

                // remove all entries out of range
                for (var series of output) {
                    series.data = series.data.filter(entry => {
                        return entry.x >= this.openAt && entry.x <= this.closedAt
                    })
                }

                return output
            }
        },

        created() {
            setInterval(() => {
                this.currentTime = new Date().getTime()
            }, 60000)
        },

        data() {
            return {
                chartOptions: {
                    colors: ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0", "#33B2DF", "#546E7A", "#D4526E", "#13D8AA", "#A5978B"],
                    chart: {
                        type: 'line',
                        background: "transparent",
                        toolbar: {
                            show: false,
                        },
                        zoom: {
                            enabled: false,
                        }
                    },
                    stroke: {
                        curve: 'stepline',
                    },
                    dataLabels: {
                        enabled: false
                    },
                    theme: {
                        mode: "dark"
                    },
                    xaxis: {
                        type: 'datetime',
                        min: new Date(this.leaderboard.open_at).getTime(),
                        max: new Date(this.leaderboard.closed_at).getTime(),
                        labels: {
                            show: true,
                            datetimeUTC: false,
                            format: 'HH:mm',
                        },
                    },
                    tooltip: {
                        x: {
                            format: 'HH:mm',
                        }
                    },
                },

                currentTime: new Date().getTime(),
                openAt: new Date(this.leaderboard.open_at).getTime(),
                closedAt: new Date(this.leaderboard.closed_at).getTime(),
            }
        }
    };
</script>
