<template>
    <div>
        <v-form ref="submitForm">
            <v-row class="my-2">
                <v-col cols="12" sm="4">
                    <v-text-field
                        v-model="name"
                        counter="25"
                        hint="Will be visible to everyone."
                        label="Name"
                        :rules="rules.name"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="4">
                    <v-text-field
                        v-model="password"
                        hint="So you can update your own score."
                        label="Password"
                        type="password"
                        :rules="rules.password"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="4">
                    <v-text-field
                        v-model="score"
                        label="Score"
                        type="number"
                        hint="Big Boints"
                        @keydown.enter="submitHighscore"
                        :rules="rules.score"
                    ></v-text-field>
                </v-col>
            </v-row>

            <v-btn
                color="primary"
                block
                @click="submitHighscore"
                :loading="submitting"
                :disabled="submitting"
            >Submit Highscore</v-btn>

            <div class="text-center red--text mt-2" v-if="error">{{ error }}</div>
        </v-form>
    </div>
</template>

<script>
    export default {
        methods: {
            submitHighscore() {
                this.activateRules();

                this.$nextTick(() => {
                    if (this.$refs.submitForm.validate()) {
                        this.submitting = true

                        axios.post(window.location.href + "/entry", {
                            name: this.name,
                            password: this.password,
                            score: this.score
                        })
                        .then(response => {
                            this.submitting = false
                            this.error = false
                            this.score = ""
                            this.deactivateRules()
                        })
                        .catch(error => {
                            this.submitting = false
                            this.error = error.response.data.message
                            this.deactivateRules()
                        })
                    }
                })
            },

            activateRules() { // this sucks
                this.rules = {
                    name: [
                        v => !!v || 'You do need a name',
                        v => (v && v.length <= 25) || "Name can't be longer than 25 chars",
                    ],

                    password: [
                        v => !!v || 'Please set a password',
                    ],

                    score: [
                        v => !!v || "What's your score?",
                        function(v) {
                            var first = v.split(".")[0]
                            first = first.split(",")[0]
                            return first.length <= 20 || "Surely your score can't be that high, c'mon."
                        }
                    ],
                }
            },

            deactivateRules() { // but it's really the recommended way
                this.rules = {}
            }
        },

        data() {
            return {
                name: "",
                password: "",
                score: "",

                submitting: false,
                error: false,

                rules: {},
            }
        }
    };
</script>
