<template>
    <v-app>
        <navbar :leaderboards="leaderboards" />

        <v-main>
            <v-container>
                <h1 class="text-xl-h1 text-center mb-6">
                    Myscorey
                </h1>

                <div class="leaderboard-container">
                    <v-expansion-panels
                        multiple
                        class="mb-6"
                        >
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                About
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <div class="markdown" v-html="renderMarkdown(`
**Welcome to Myscorey! A new weekly event on twitch.tv/MysteryFunHouse at 7PM ET every Saturday! Open participation!**

- Each week the players will compete for the best possible score in a given game!
- Each competition will be 2 hours long!
- Each competition is independent, and there is a prize available to the winner each and every week!
- The stream layout will feature a real time leaderboard to monitor scores during the race!

## Rules

- Anyone can participate. Games will be announced at 6PM ET and contestants will be responsible for adding themselves to the leaderboard (see below).
- When time runs out you can submit your final score, but you're not allowed to finish your current attempt.
- You must not have previously made high score attempts on that weeks game. If you wonder whether or not you're blind enough feel free to ask. Games will be reasonably obscure in an effort not to leave anyone out.
- You must submit your score to the leaderboard as soon as it's finalized in game, but only if it is higher than your previous posted score.
- Each week you'll be provided a rentry detailing the game systems. Depending on the game it could be quite extensive, but information will be listed from most to least important for your convenience.
- Links will be given out and game chat/questions will take place on the discord channel #myscorey
- The winner will get a <$10 steam game from our mystery prize pool!
`)">
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>

                    <leaderboard-card
                        v-for="leaderboard in leaderboards.slice().reverse()"
                        :key="leaderboard.slug"
                        :leaderboard="leaderboard"
                        >

                    </leaderboard-card>
                </div>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import {renderMarkdown} from "../utils.js"

    export default {
        methods: {
            renderMarkdown
        },

        props: [
            "leaderboards",
        ],
    };
</script>
