<template>
    <v-app>
        <v-main>
            <leaderboard-table
                :entries="entries"
                :leaderboard-slug="leaderboardSlug">
            </leaderboard-table>
        </v-main>
    </v-app>
</template>

<script>
    import Echo from 'laravel-echo';

    export default {
        mounted() {
            window.Echo = new Echo({
                broadcaster: 'socket.io',
                host: window.location.hostname + ':6001'
            });

            window.Echo.channel('myscorey.leaderboard.' + this.leaderboardSlug)
            .listen('LeaderboardChanged', e => {
                this.entries = e.entries
            })
        },

        props: [
            "leaderboardSlug",
            "initialEntries",
        ],

        data() {
            return {
                entries: JSON.parse(JSON.stringify(this.initialEntries)),
            }
        }
    };
</script>
