<template>
    <div>
        <navbar
            :leaderboards="leaderboards"
            :current-leaderboard="leaderboard"/>

        <v-main>
            <v-container>
                <h1 class="text-lg-h1 text-center mb-6">
                    {{ leaderboard.name }}
                </h1>

                <div class="leaderboard-container">
                    <v-expansion-panels
                        :value="expandedPanels"
                        multiple
                        >
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <div>
                                    Instructions
                                    <a class="ml-2 no-underline" :href="`/${leaderboard.slug}/instructions`" target="_blank">
                                        <v-icon small>mdi-resize</v-icon>
                                    </a>
                                </div>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <leaderboard-instructions
                                    :markdown="leaderboard.instructions"
                                >
                                </leaderboard-instructions>
                            </v-expansion-panel-content>
                        </v-expansion-panel>

                        <v-expansion-panel v-if="leaderboard.entry_enabled">
                            <v-expansion-panel-header>
                                Highscore entry
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <entry></entry>
                            </v-expansion-panel-content>
                        </v-expansion-panel>

                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <div>
                                    Leaderboard
                                    <a class="ml-2 no-underline" :href="`/${leaderboard.slug}/ascii`" target="_blank">
                                        <v-icon small>mdi-resize</v-icon>
                                    </a>
                                </div>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                            <leaderboard-table
                                :entries="entries"
                                :leaderboard="leaderboard"
                            >
                            </leaderboard-table>
                            </v-expansion-panel-content>
                        </v-expansion-panel>

                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <div>
                                    Chart
                                    <a class="ml-2 no-underline" :href="`/${leaderboard.slug}/chart`" target="_blank">
                                        <v-icon small>mdi-resize</v-icon>
                                    </a>
                                </div>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                            <div
                                style="height: 400px"
                                class="mt-6 grey--text">
                                <chart
                                    :entries="entries"
                                    :leaderboard="leaderboard"
                                    />
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </v-container>
        </v-main>
    </div>
</template>

<script>
    import Echo from 'laravel-echo';

    export default {
        mounted() {
            window.Echo = new Echo({
                broadcaster: 'socket.io',
                host: window.location.hostname + ':6001'
            });

            window.Echo.channel('myscorey.leaderboard.' + this.leaderboard.slug)
            .listen('LeaderboardChanged', e => {
                this.entries = e.entries
            })
        },

        props: [
            "leaderboard",
            "leaderboards",
            "initialEntries",
        ],

        data() {
            return {
                entries: JSON.parse(JSON.stringify(this.initialEntries)),
                expandedPanels: [1, 2, 3],
            }
        }
    };
</script>
