<template>
    <v-app>
        <chart
            :entries="entries"
            :leaderboard="leaderboard"
            />
    </v-app>
</template>

<script>
    import Echo from 'laravel-echo';

    export default {
        mounted() {
            window.Echo = new Echo({
                broadcaster: 'socket.io',
                host: window.location.hostname + ':6001'
            });

            window.Echo.channel('myscorey.leaderboard.' + this.leaderboard.slug)
            .listen('LeaderboardChanged', e => {
                this.entries = e.entries
            })
        },

        props: [
            "leaderboard",
            "initialEntries",
        ],

        data() {
            return {
                entries: JSON.parse(JSON.stringify(this.initialEntries)),
            }
        }
    };
</script>
