<template>
    <div class="markdown" v-html="renderMarkdown(markdown)">
    </div>
</template>

<script>
    import {renderMarkdown} from "../utils.js"

    export default {
        methods: {
            renderMarkdown
        },

        props: [
            "markdown",
        ],
    };
</script>
