<template>
    <a :href="leaderboard.link" class="no-underline">
        <v-card class="mb-6">
            <v-card-title>
                Week {{ leaderboard.id }}: {{ leaderboard.name }}
                <div class="ml-auto grey--text">
                    {{ leaderboard.date }}
                </div>
            </v-card-title>

            <v-card-text>
                <!-- {{ leaderboard.entries.length }} {{ leaderboard.entries.length == 1 ? "entrant" : "entrants" }} -->
                <div v-if="leaderboard.open">
                    Ongoing!
                </div>

                <div v-else>
                    Winner: {{ winner.name ? winner.name : "" }}
                </div>
            </v-card-text>
        </v-card>
    </a>
</template>

<script>
    export default {
        computed: {
            winner() {
                if (this.leaderboard.entries.length > 0) {
                    return this.leaderboard.entries[0]
                } else {
                    return {name: "Nobody!"}
                }
            }
        },

        props: [
            "leaderboard",
        ],
    };
</script>
