<template>
    <div>
        <v-simple-table>
            <thead>
                <tr>
                    <th width="1%" class="text-right">
                        #
                    </th>
                    <th>
                        Name
                    </th>

                    <th class="text-right">
                        Boints
                    </th>
                </tr>
            </thead>
            <tbody is="transition-group">
                <tr
                    v-for="entry in uniqueEntries"
                    :key="entry.name"
                >
                    <td class="text-right">{{ getRank(entry) }}</td>
                    <td>{{ entry.name }}</td>
                    <td class="text-right table-score">{{ formatNumber(entry.score) }}</td>
                </tr>

                <tr v-if="uniqueEntries.length == 0" :key="0">
                    <td colspan="100" class="text-center">Nobody yet!</td>
                </tr>
            </tbody>
        </v-simple-table>
    </div>
</template>

<script>
    import apexchart from 'vue-apexcharts'

    export default {
        props: [
            "entries",
            "leaderboard",
            "chart",
        ],

        components: {
            apexchart
        },

        computed: {
            uniqueEntries() {
                var names = []

                var filteredEntries = [...this.entries]

                filteredEntries = filteredEntries.filter(function(entry) {
                    var includes = names.includes(entry.name)

                    names.push(entry.name)

                    return !includes
                })

                return filteredEntries
            },
        },

        methods: {
            getRank(entry) {
                var rank = 1

                for (var loopEntry of this.uniqueEntries) {
                    if (parseFloat(loopEntry.score) <= parseFloat(entry.score)) {
                        break
                    }
                    rank++
                }

                return rank
            },

            formatNumber(i) {
                var parts = i.toString().split(".");
                return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        }
    };
</script>
