<template>
  <div>
    <v-navigation-drawer v-model="sidebar" app disable-resize-watcher>
      <v-list>
        <a
          v-for="leaderboard in leaderboards"
          :key="leaderboard.link"
          :href="leaderboard.link"
          class="no-underline"
        >
          <v-list-item>
            <v-list-item-content>{{ leaderboard.name }}</v-list-item-content>
          </v-list-item>
        </a>
      </v-list>
    </v-navigation-drawer>

    <span class="hidden-md-and-up">
      <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
    </span>

    <v-tabs center-active v-model="tab" show-arrows class="hidden-sm-and-down">
      <v-tab
        v-for="leaderboard in leaderboards"
        :key="leaderboard.link"
        :href="leaderboard.link"
      >
        {{ leaderboard.name }}
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  created() {
    for (let i = 0; i < this.leaderboards.length; i++) {
      if (this.leaderboards[i].slug == this.currentLeaderboard.slug) {
        this.tab = this.leaderboards[i].link;
      }
    }
  },

  props: ["leaderboards", "currentLeaderboard"],

  data() {
    return {
      sidebar: false,
      tab: 0,
    };
  },
};
</script>
